/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
@import "bootstrap";

.clearfix::after {
  content: "";
  display: block;
  clear: both;
}

nav {
  margin-bottom: 50px;
}
nav .container {
  width: 1000px;
  margin: 0 auto;
}
.view-container {
  width: 1000px;
  margin: 0 auto;

  header {
    margin-bottom: 60px;
  }

  .top {
    div.clearfix {
      aside {
        width: 38%;
        float: left;
      }
      .f-right {
        width: 60%;
        float: right;
      }
      section {
        padding: 10px;
        border: 1px solid #999;
        word-break: break-all;
      }
    }
  }
}

h2 {
  padding: 0.5em;
  color: #494949;
  background: #fffaf4;
  border-left: solid 5px #ffaf58;
}
h3 {
  border-bottom: solid 3px #cce4ff;
  position: relative;
}
h3:after {
  position: absolute;
  content: " ";
  display: block;
  border-bottom: solid 3px #5472cd;
  bottom: -3px;
  width: 20%;
}

.form-table {
  width: 100%;
  th {
    width: 150px;
    padding: 10px;
  }
  td {
    width: calc(100% - 150px);
    padding: 10px;
    input,textarea {
      width: 100%;
      padding: 10px;
    }
    textarea {
      min-height: 200px;
    }
  }
}
.submit {
  text-align: center;
  margin-top: 50px;
}

img {
  width: 100%;
}

.comments {
  .attachment {
    width: 60px;
    height: 60px;
    object-fit: cover;
  }
}
.new-comment {
  textarea {
    width: 100%;
  }
}

p.profile-img {
  text-align: center;
  img {
    width: auto;
    max-height: 500px;
  }
}
